# Ignore OS files
.DS_Store
Thumbs.db

*
**/*
# Keep source code
!.gitignore
!iduh-org-mode-ssg.el
!README.md
!todo.md
!LICENSE
!static/
!static/*
!static/**/*
!templates/
!posts/
!tests/
!tests/*
!tests/**/*
!Makefile
