# Ignore OS files
.DS_Store
Thumbs.db

*
**/*
# Keep source code
!.gitignore
!iduh-org-mode-ssg.el
!iduh-org-mode-ssg-skeleton.el
!README.md
!todo.md
!LICENSE
!SKELETON_GUIDE.md
!skeleton/
!skeleton/*
!skeleton/**/*
!posts/
!tests/
!tests/*
!tests/**/*
!Makefile
